#banner 
	.banner_content
		%h1 Automated Text Analysis
		%p your life's work. organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organized
				%p Minor Project
				
#bottom_cta
	.wrapper
		%h3 Go Ahead
		%br
		%button= link_to "Join Now", new_user_registration_path
