#banner 
	.banner_content
		%h1 file cabinet
		%p your life's work. organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organized
				%p Global freelancing platform Upwork announced a sweeping policy change on Tuesday that will impact hundreds of thousands of freelancers -- particularly new and/or low-earning users.
				
#bottom_cta
	.wrapper
		%h3 Go Ahead
		%br
		%button= link_to "Join Now", new_user_registration_path
